.App {
  text-align: center;
  background: #4b6777
}
.navigation{
  display: flex;
  justify-content: space-evenly;
  background:  #3e5d81;
  border: transparent black;
}
.header{
  text-align: center;
  font-size: xx-large;
  color: #c1c7ca;
}
.headerTitle{
  display: flex;
  justify-content: center;
  margin: 100px;
  padding: 20px;
  color: #2c2c2c;
}
.bodyText {
  display: flex;
  margin: 95px;
  padding: 25px;
  text-align: center;
  color: #2c2c2c;
  background:  #4b6777;
  font-style: italic;
  font-size: xx-large
}
.recipeTitle {
  color: #2c2c2c;
  font-size: x-large;
}
.imageDesc {
  color: white;
  font-size: large;
}
.steps {
  font-size: large;
  color: #2c2c2c;
}
.signUp {
  margin: 50px;
  color: gray;
}
.sponsor {
  margin: 10px;
  color: white;
}